@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #aaa;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #888;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap:5%;
}

.splash {
    background-color: #ccc;
    width:25%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.logo h1 {
    font-family:'Bebas Neue', sans-serif;
}

.content {
    background-color: #eee;
    width:70%;
    height:100vh;
}

.intro {
    padding: 25px;
}

.form {
    background-color: #fff;
    width: 95%;
    padding: 10px;
}

form {
    border: none;
}

fieldset {
    border: none;
}

label {
    display: inline-flex;
    width: 100px;
}

input {
    margin-right: 10px;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size:12px;
    color:#fff;
    background-color: blueviolet;
    padding:10px;
    border: #fff;
    border-radius: 5px;
}